$landing_standard_blue: #03389E;
$icon_gold: #F4C008;
$white_hover_bg: #F4F6F9;
$left_menu_blue: #0052a5;

$main_tan_background: #EDEDE8;
$dark_tan_link_background: #D8D7C3;
$highlighted_dot_tan: #B6B792;
$input_border_dark_tan: #AFABA5;
$border_label_dark_tan: #7A7B7B;
$checkbox_label_color: #757575;
$small_span_tan_color: #656464;
$left_menu_background: #F6F6F5;
$progress_info_background_grey: #DFE0D8;
$left_menu_active_link_color: #7D7F5D;
$active_progress_bar_green: #586646;
$table_header_color: #7C7D74;
$submit_button_hover_green: #51543C;
$go_premium_btn_hover: #C6C4A0;
$premium_border_hover: #B6B3AD;
$landing_green_button: #5F643A;
$landing_grey_students_text: #9E9E96;
$how_it_works_tiles_background: #F4F4EE;
$read_more_blog_background: #e2e3d8;

$link_default_blue_color: #3B7EE2;
$logo_dull_blue: #D9D9D9;
$landing_footer_background: #181A22;
$social_media_footer_link_bg: #D9DFC3;
$footer_columns_text_color: #B8B4AE;
$footer_columns_green_text_color: #B0CF99;
$copyrights_background: #0F1117;
$copyrights_color: #7A7C7C;

$correct_green: #586646;
$wrong_red: #904040;

$premium_gold_icon: #E59C38;