/ app/views/petitions/new.html.slim
h1 Rozpocznij nową petycję

p Aby złożyć nową petycję, kliknij przycisk poniżej i postępuj zgodnie z instrukcjami na kolejnych krokach.

= link_to 'Rozpocznij składanie petycji', petition_petition_step_path(@petition, PetitionStepsController.wizard_steps.first), class: 'btn btn-primary'
