/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 *= require flatpickr
 */

 @import "bootstrap";
 @import "font_awesome5_webfont";
 @import 'chosen';
 @import "config/colors";


 .row {
  --bs-gutter-x: 0;
  }

 .bg-sessions {
  background: #e7eaf6;
 }

 .bottom-cont {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: flex-start;
     background-color: $white_hover_bg;
 }
 
 .right-cont {
     width: calc(100% - 100px); 
     min-height: calc(100vh - 76px); 
     background: #F0F5FA !important;
 }
 
 main {
     background-color: #F0F5FA;
     display: flex;
     flex-direction: column;
     flex: 1;
     justify-content: space-between;
     padding: 2rem 4rem;
 }
 
 @media screen and (max-width: 800px) {
     .bottom-cont {
         display: flex;
         flex-direction: column;
         min-height: calc(100vh - 76px);
         justify-content: space-between;
     }
 
     .right-cont {
         width: calc(100%);
         min-height: unset;
     }
 }
 
 :root {
    --gov-scrollbar-width: 12px;
    --gov-color-icon-default: #4A90E2;
}


::-webkit-scrollbar {
    width: var(--gov-scrollbar-width);
}

::-webkit-scrollbar-thumb {
    background: var(--gov-color-icon-default);
    border-radius: var(--gov-scrollbar-width);
}

::-webkit-scrollbar-track {
    background: #d6e1ec;
}


i.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    text-rendering: auto;
    display: inline-block;
    line-height: 1;
  }

  @import 'actiontext.css';

  .accessibility-tools {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  
    .accessibility-button {
      background-color: #007bff;
      color: #fff;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 4px;
      font-size: 1em;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  

  .high-contrast {
    background-color: #000 !important;
    color: #fff !important;
  
    a {
      color: #0ff !important;
    }
  
    /* Dostosuj inne elementy interfejsu według potrzeb */
  }